<ion-view view-title="{{challenge.title}}">
  <ion-content>
    <ion-list>
        <ion-item>
            Approx. Duration: {{challenge.approxDuration}}
        </ion-item>
        <ion-item>
            Start Date / Time {{challenge.startDate | date: 'medium'}}
        </ion-item>
        <ion-item>
            Start Location: {{challenge.startLocationDescription}}
        </ion-item>
        <ion-item>
            Min Member Count: {{challenge.minParticipants}}
        </ion-item>
        <ion-item>
            Number of Users Signed up: {{challenge.signedUser}}
        </ion-item>
        <ion-item class="text-center">
            <button class="button button-positive">
                Participate on this Challange
            </button>
        </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
