<ion-view>
    <ion-nav-title>Do Quest</ion-nav-title>
    <ion-content>
        <ion-item class="item-text-wrap">
            <p class="">
                <b>Question:</b><br>
                In Which year was Jasper born?
            </p>
        </ion-item>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Answer:</span>
            <input type="text" placeholder="1203">
        </label>
        <ion-item>
            <button ng-click="validateAnswer()" class="button button-block button-positive">
                Send Answer!
            </button>
        </ion-item>
    </ion-content>
</ion-view>
